<!DOCTYPE html>
<html lang="en">
<head>

    <title>first image</title>
</head>
<body>
</div>
<body>
    <button
      id="button"
      type="button"
      onclick="window.location.href = 'http://localhost:3000/home';"
    >
      Revert to the home
    </button>
    <a class="image"><img src="/images/1.png" /></a>
  </body>
</html>
</body>
</html>