<!DOCTYPE html>
<html lang="en">
<head>

    <title>karthik is cool</title>
</head>
<body>
  <h1> Hey there</h1>  
  <h2>These pictures are nice</h2>
</br>
 <%- include('partials/body') %> 
</body>
</html>